# Python 3.11 recommended
auto_mix_prep==0.2.0
colorlog==6.5.0
keyboard==0.13.5
kthread==0.2.2
logger==1.4
mss==8.0.3
numpy==1.24.3
opencv-python==4.8.1.78
Pillow>=10.0.0
PyAutoGUI==0.9.53
pynput==1.7.6
pyttsx3==2.90
pywin32>=306
requests
